[2015-02-23 18:55] mboes opened #1 "Extract est-priors "individual" and "group" optimizations to standalone example using NAG"
Goal: have a realistic example relevant to HMST project to guide inline-c-nag design, the NAG specific layer on top of inline-c. Dave Balaban has stated that optimization routines will be their first use of NAG. Likely ODE solvers will follow.

Required: Haskell version using NAG via inline-c alone (not inline-c-nag).
Optional: have _both_ C versions and Haskell versions.

[2015-02-26 11:00] bitonic opened #2 "Avoid having to know typedefs by only parsing C declarations"
To parse C the lexer needs to know what is an identifier and what is a typedef, see http://en.wikipedia.org/wiki/The_lexer_hack .

This is very annoying for us, because it forces us to declare (say) the types defined by NAG in advance.

As a solution, I'm implementing a parser for C declarations only that does not need the lexer hack (because it only parses declarations).  Then the body of the C c

[2015-02-26 11:03] bitonic opened #3 "Use C declarations instead of suffix types"
Right now we can capture Haskell variables with what I call "suffix types", e.g.

[code]

Will capture `x` and `y`, and expect `CInt` as a type for both.  However this is quite hacky and does not scale up to more complex types.

For this reason, I propose we use C declaration syntax instead, so that we can write

[code]

Or in a more complex example

[code]

Note that #2 stands in the way of doing

[2015-02-26 12:03] bitonic opened #4 "inline-c-nag Ergonomics wishlist"
This is directed towards making NAG interop easier, but might be relevant in general.
- Include facility to deal with NAG's `NagError` nicely.
- Minimize `alloca`s.
- Include facilities to easily use vectors, without having to explicitly get pointers and create them from pointers.

[2015-02-27 12:50] bitonic opened #5 "Add function to get `FunPtr` from name"
Right now `mkFunPtr` requires a type to be passed in explicitely, but we should have a function of type

[code]

for defined functions.

[2015-02-27 12:50] bitonic opened #6 "Add tests for additional types"
Specifically, structs, unions, etc.

[2015-03-24 00:03] #3 closed, assigned to nobody

[2015-03-24 00:12] mboes opened #7 "Remove auto-conversion between C and Haskell numeric types"
Currently, `[cexp| int { 2 } |]` has type `Int` rather than `CInt`. However, this is dangerous. There is absolutely no guarantee that the size of `Int` and the size of `CInt` match up. In fact, on my 64-bit linux, I have `sizeof(int) = 4` whereas `Int` is 64-bit wide. This implicit conversion is dangerous to perform implicitly, especially in numeric code. Best to have the user explicitly perform t

[2015-03-24 00:27] mboes opened #8 "Split README.md into inline-c/README and and inline-c-nag/README"
This should make it more accessible for automated packages tools like Stackage-server (or fpdoc?) to pick up and display.

[2015-03-25 12:09] #7 closed, assigned to bitonic

[2015-03-25 12:44] #5 closed, assigned to bitonic

[2015-03-25 12:47] #4 closed, assigned to nobody

[2015-03-25 12:48] #2 closed, assigned to bitonic

[2015-04-09 18:03] bitonic opened #9 "Polish naming"
I think most functions meant to be used in TH should be prefixed by something indicating their C-ness.  For example: `setContext` => `c_setContext`, `include` => `c_include` or similar.

In general we want to make sure that we have a consistent story for names to be used in an unqualified manner.

[2015-04-09 18:04] bitonic opened #10 "Polish `Context` interface"
`Language.C.Inline.Context` is quite tidy but also quite ad-hoc.  Especially the recently added part to support C++.  Try to make it as nice and as orthogonal as possible before open-sourcing.

[2015-04-09 18:05] bitonic opened #11 "Investigate occasional segfaults [GHC issue]"
Currently this program segfaults occasionally when ran with `+RTS -N2 -RTS`:

[code]

I've been trying to understand why, but I run into problems debugging because instrumentation makes the segfaults go away.  This non-determinism makes me think that the problem is related to GC.

[2015-04-14 08:39] bitonic opened #12 "Create toolset to work with SNAP library"
Similar to what we have with NAG, but for SNAP.  This is mainly to test the waters with what concerns C++ support.

[2015-04-14 10:37] #1 closed, assigned to mboes

[2015-04-23 13:30] #10 closed, assigned to bitonic

[2015-04-23 13:30] #9 closed, assigned to bitonic

[2015-05-06 14:43] bitonic opened #13 "Improve C++ support"
The main things to do are:
- Facilitate memory management by attaching the right finalizers to C objects;
- Facilitate the handling of pointers pointing to C++ types from Haskell.

I have some ideas for both, currently experimenting.

[2015-05-12 16:11] bitonic commented on #12
We don't really need this anymore.

[2015-05-12 16:11] #12 closed

[2015-05-12 16:11] bitonic commented on #8
They're both public repos now, so I think we can keep the `README.md` as is.

[2015-05-12 18:59] mboes commented on #8
I don't see why. Two repos, two readme's.

[2015-05-12 19:20] bitonic commented on #8
Done

[2015-05-12 19:20] #8 closed

[2015-05-19 11:05] bitonic opened #14 "Re introduce pure expressions"
In the form suggested by Mathieu in `pure-exps`.

[2015-05-20 10:41] mboes commented on #14
Done.

[2015-05-20 10:41] #14 closed

[2015-05-20 10:42] mboes commented on #13
Writing down those ideas would help others pick this up if they want to.

[2015-05-20 10:43] mboes commented on #6
Done?

[2015-05-21 09:43] peti opened #15 "inline-c-0.5.0.0 can't compile its test suite because of missing files"
Citing from http://hydra.cryp.to/build/875479/nixlog/2/raw:

[code]

[2015-05-21 10:02] bitonic commented on #15
Thanks, I forgot to include those modules in `other-modules`.  5777c8ac0b3135f741d6614c1be2196ef8a2f2e4 fixes this, I'll upload a new package soon.

[2015-05-21 10:02] #15 closed

[2015-05-21 10:08] bitonic commented on #15
This is now fixed on hackage, `0.5.0.1`.

[2015-05-23 21:37] jargv opened #16 "$bs-ptr uses unsigned char* by default"
In my experience `unsigned char*` is very rare in C code, at least when working with strings. Is there a good reason for unsigned being the default? Is there an easy way to change this behavior (perhaps for a single context) to `char*`?

[2015-05-23 21:41] jargv commented on #16
Actually an entire context is probably too course-grained. Is there a way to make it a *signed* `char*` at a single call site?

[2015-05-25 16:47] bitonic commented on #16
No, there isn't a way right now.  It would be very easy to add a `Context` doing that, or alternatively a context that took a type explicitely, e.g.

[code]

You're right though, we should support this.

[2015-05-25 17:20] bitonic commented on #16
Actually, straight `char` just makes more sense.  I'll change the behaviour of `bs-ctx`.

[2015-05-25 17:47] #16 closed

[2015-05-25 17:48] jargv commented on #16
Thanks! The workaround I had landed on is to cast: `(char*)$bs-ptr:title` but that makes me quite nervous since the cast loses a measure of type safety.

It might be convenient to have a `bs-uptr` for the cases where you actually are dealing with bytes of (unsigned) raw byte data.

[2015-05-25 17:51] bitonic commented on #16
Right, that was my original reasoning -- morally `ByteString`s in Haskell are blobs of raw data.

However, I remembered that `ByteString`s contain pointers to straight `char`s, so that's definitely the option that makes more sense.

I'll upload a new version on Hackage soon.

[2015-05-26 09:09] Deewiant opened #17 "Handle more types by default"
`Foreign.C.Types` contains a bunch of types that aren't in `baseTypesTable`:

* `CPtrDiff`
* `CSize`
* `CWchar`
* `CSigAtomic`
* `CIntPtr`
* `CUIntPtr`
* `CIntMax`
* `CUIntMax`
* `CClock`
* `CTime`
* `CUSeconds`
* `CSUSeconds`
* `CFile`
* `CFpos`
* `CJmpBuf`

I don't see why they couldn't be added. Furthermore there are the exact-size types in `stdint.h`, like `int32_t`, that could easily be mappe

[2015-05-26 10:14] bitonic commented on #17
Yes, everything in `Foreign.C.Types` and `stdint.h` should be included.  A PR would be appreciated, or I'll do it when I have a bit of time.

[2015-05-26 10:53] Deewiant commented on #17
Great, thanks for the quick response. I'll try to get a PR done tonight (within 8 hours or so).

[2015-05-26 21:54] #17 closed

[2015-06-12 00:01] chpatrick opened #21 "Generated C file conflicts with Haskell file in build"
This kills the build.

[2015-06-12 09:00] bitonic commented on #21
If you're using cabal (at least the versions I've tested) the compiled object files for che C files are put in different paths -- `dist/build/src` and `dist/build` directly.  Could you upload a cabal project that triggers that behaviour?

[2015-06-12 09:39] bitonic commented on #21
Oh, I see when this might happen -- if you don't have a separate `src` directory.  The quick solution is to put your Haskell code in a separate src directory.

Apart from that, we should probably solve this by putting all the C files in a separate directory.  `cabal` itself could (should?) work around this, and put the objects resulting from C files in a separate directory.

[2015-06-13 10:03] Deewiant opened #22 ""stale ModuleState" with multiple modules and ghc -j"
Consider the following simple project:

testcase.cabal:
[code]
One.hs:
[code]
Two.hs:
[code]
Main.hs:
[code]

A typical build with `ghc -j1` might look like the following, and works fine:
[code]

But with `ghc -j`, this tends to happen:
[code]

Or an equivalent failure in the other module:
[code]

I've also seen this manifest as parse errors that seemed like not recognizing custom types added to `

[2015-06-14 23:39] bitonic commented on #22
That makes sense -- I'm using a global `IORef` to store the necessary information, and I had not considered the possibility of parallel builds.

This is definitely fixable, I'll look into it as soon as I can.

[2015-06-15 00:09] bitonic commented on #22
I have pushed a fix for this in the `issue-22` branch.  I didn't get to test it properly, I'd be glad if you could run it on your test case in the meantime.  I'll probably get around to test it myself tomorrow.

[2015-06-15 06:04] Deewiant commented on #22
Seems to do the trick for both this testcase and the actual project in which I was running into this, thanks!

[2015-06-15 12:21] bitonic commented on #22
Could you upload a tarball with a sample project to try out?  That would save me a bit of time.

[2015-06-15 13:02] Deewiant commented on #22
I could tarball the "testcase" project in the issue description but that'd probably take longer than it takes you to copy-paste the four files.

My actual project depends on so many esoteric libraries that I can practically guarantee that getting it to compile at all would take you longer than the time you are trying to save... Plus there are some licensing issues I haven't got around to sorting o

[2015-06-15 21:29] bitonic commented on #22
Merged.  Currently waiting the Travis-CI build to finish and I'll upload it to hackage.  Thanks a lot for reporting!

[2015-06-15 21:29] #22 closed

[2015-06-19 05:44] mitchellwrosen commented on #21
I just got bit by this as well, trying to play with a simple `main-is: Main.hs` with `hs-source-dirs: .`.

[2015-06-19 16:14] bitonic commented on #21
Right.  I've been thinking about this, and the proper solution is to put the C files in some separate directory.  However, I'm stuck on deciding on what this directory should be, since configuring TH behaviour is... tricky.

In any case, I'll definitely fix this in the next week.  Any input welcome!

[2015-06-20 09:56] chpatrick opened #23 "Can't use Haskell variables with primes"
src/Clang/FFI.hs:181:5:
    Exception when trying to run compile-time code:
      "src/Clang/FFI.hs" (line 181, column 71):
unexpected "'"
expecting digit, "[", "(" or ")"
    Code: Language.Haskell.TH.Quote.quoteExp
            C.exp
            " int { clang_equalCursors(*$(CXCursor *cp), *$(CXCursor *cp')) } "

[2015-06-22 11:24] bitonic commented on #23
This is a tricky one: we want to use C-style declarations for anti-quoting, C-style identifiers don't have primes in them.

I have a YACC grammar which I modified from the C standard (that I hand-converted to a `parsers` parser), I'll check if we can change the identifier style without messing up the rest of the grammar.

[2015-06-27 15:23] bitonic commented on #21
The plan for this is:

* Allow setting the variable location where the files is set by an env variable.
* If said env variable is not present, see if GHC was invoked by cabal.  If it is, find the .cabal file by traversing the directory structure upwards, and place the file in a predefined directory (e.g. `inline-c`).
* Otherwise, fall back to the method we're using now.

I'm aiming to get this don

[2015-06-27 15:24] bitonic commented on #21
@mboes is the above what you were thinking last time we talked about this?

[2015-06-29 10:03] mboes commented on #21
Yes. Except I believe all build artifacts should go in Cabal's dist folder, wherever it is, rather than us putting things in new folders that `cabal clean` can't easily get rid of.

[2015-06-30 09:43] snoyberg opened #24 "C files regenerated too often"
Any time the file is type checked- which includes generating haddocks- .c files are regenerated, which forces build systems to recompile the entire project, even if no changes have occurred. Instead: inline-c should check if there is any difference between the old and new content before writing out to the .c file to avoid unnecessary recompiles.

[2015-06-30 12:22] bitonic commented on #21
@mboes , I don't think that works well, since the C files are tarred up along with the Haskell sources when `cabal sdist`ing.

[2015-06-30 17:32] nc6 opened #25 "Invalid identifier for non-typedef-ed structs"
The following block of code:

[code]

fails with the following error:

[code]

`Foo` is storable and has been added to a custom context. I'm guessing this is an issue with not being able to parse non typedef-ed structs. Unfortunately the C project I'm trying to bind to has a policy of not using `typedef` for structs, so this is a rather big issue.

[2015-06-30 20:03] bitonic commented on #25
That code you posted is invalid, since the C block is malformed (there is no return type).

In any case, what you want to do is perfectly fine, can you post a full example?

If I try with
[code]

And then `ghc -c foo.hs`, I get
[code]

Which is due to the problem I mentioned (no return type).

If I fix that, for example with
[code]

I get
[code]

Which is telling you that `inline-c` does not know

[2015-06-30 20:10] bitonic commented on #24
I'm thinking on how to solve this.

Initially I planned to compare the timestamp of the Haskell file with the timestamp of the C file, but that is not robust to changes to the `inline-c`: so for example it might be that the C file is up to date (i.e. it's newer than the Haskell file), but that the `inline-c` library version has changed in the meanwhile.

What we'd really like to know is why the cu

[2015-06-30 20:12] bitonic commented on #23
I've fixed this on `issue-23`.  Can you please verify, just in case I missed something?

(as a bonus, now you can anti-quote any Haskell identifier, even qualified names).

[2015-07-01 07:46] mboes commented on #24
As a workaround, we can detect whether the current executable name is
`haddock`, or whether it's `ghc`. In the former case we know that no code
will be generated, and therefore we don't need to generate C code either.
Alternatively, detect whether the config option corresponding to
`-fno-code` has been set, but I doubt that's possible from within TH.

[2015-07-01 07:54] nc6 commented on #25
Interesting. That's not the error I get, even if I fix the block declaration. Looks like I need to flesh out my example.

[2015-07-01 08:28] #23 closed

[2015-07-01 08:31] nc6 commented on #25
Okay, here's a repository demonstrating the "invalid string" error:

https://github.com/nc6/inline-c-test

[2015-07-01 08:39] bitonic commented on #25
Thanks, I can reproduce.  Currently investigating.

[2015-07-01 08:43] bitonic commented on #25
The problem is in your `Context`:

[code]

`C.TypeName` expects a C identifier, but `struct a0_foo` isn't one.  To define a mapping from a struct to an Haskell type you would specify

[code]

I'll think about how we could make this error better...

[2015-07-01 08:43] #25 closed

[2015-07-01 08:51] nc6 commented on #25
Aha! I see. Probably just adding some example contexts using `C.Struct` would help, I think.

Many thanks for your help!

Nick

[2015-07-01 14:01] bitonic commented on #21
OK, there is a problem with the plan: if a `.cabal` file has multiple targets, all the C files will be put in the same directory.  This means that to build any of the targets we'd be pulling in all of the C files.  The best way would be to have a separate directory for each target, but I see no easy way to do that without annoying the user (e.g. having to set an env variable or having to install s

[2015-07-01 17:30] bitonic commented on #24
Yeah, for haddock only that would work -- assuming that haddock actually type-checks the file itself, and doesn't fork out to GHC to do that.

@snoyberg , was your quick workaround involving header files working in the end?

[2015-07-01 19:24] mboes commented on #24
Haddock uses the GHC API, which is why I suggest that workaround. "Should be" (tm) a simple case of checking the value of argv0.

[2015-07-01 19:25] mboes commented on #24
Just tested this special casing "haddock" by calling `getProgName` inside the splice. Works fine.

[2015-07-02 12:30] bitonic commented on #24
Reopening this since #26 only addresses a specific case.

[2015-07-02 13:12] mboes commented on #24
We should close this unless there are concrete uses case for which solving this in general would be useful. Otherwise this ticket may well linger open forever. We should document in the code/haddock that regenerating the C files even when GHC or some GHC API client app isn't generating any code is a known limitation. If this is a problem for someone they can reopen the ticket.

[2015-07-02 14:32] snoyberg commented on #24
I agree with Mathieu.

On Thu, Jul 2, 2015, 6:12 AM Mathieu Boespflug <notifications@github.com>
wrote:

[2015-07-02 16:52] bitonic commented on #24
Fair enough, closing.

[2015-07-02 16:52] #24 closed

[2015-07-02 17:32] bitonic opened #27 "Investigate QuickCheck failure"
In the last Travis build we got a QuickCheck failure, related to parsing: https://travis-ci.org/fpco/inline-c/jobs/69320370#L1887 .

Sadly we didn't get the full output, I need to reproduce it.

[2015-07-02 17:34] bitonic commented on #27
...and apparently restarting the build destroys the previous log.  In any case, it was showing a failure for the Haskell test in `Language.C.Types.ParseSpec.spec`.  It was hard to understand what's going on since we only got the syntax error.

[2015-07-03 10:38] bitonic opened #28 "Identical functions can lead to identical symbols, and thus to linking errors"

[2015-07-03 12:14] bitonic commented on #28
Fixed by 59cec03.

[2015-07-03 12:14] #28 closed

[2015-07-03 14:32] bitonic opened #29 "`cabal sdist` contains the generated C files"
Currently, we put the C files generated by `inline-c` in the `c-sources` field in `.cabal` files.  This means that the generated files end up in the tarballs, which does not make sense.  I can't think of a simple way of avoiding this, if we want to keep abusing `cabal` to compile the C sources.

[2015-07-04 11:32] chpatrick commented on #13
An idea for template support:

Anything with template polymorphism would be generated with an explicit function. This function would get a templated C++ implementation and a Haskell typeclass. You could then request specializations of this function for given Haskell types, which would produce typeclass instances.

Sketch:

[code]

[2015-07-04 12:45] chpatrick commented on #13
Actually you could just use a regular block instead of a function:

[block| <class PushBack a> void {
$(vector<$a>  *vec) ->push_back($($a val));
|]

[2015-07-06 10:55] bitonic commented on #13
Yes, that makes a lot of sense, thanks a lot for the input.  I especially like the second mockup of how it would look like.

There is the slight disadvantage of an upfront setup, but I don't think we can do much better than that.

I fear that the hardest part of this will be parsing C++ types...

[2015-07-06 14:49] chpatrick commented on #13
Some further thoughts:

It would be good if external modules could generate implementations of templating classes (eg. VectorImpl above). This means they need access to the source of the templated C++ functions. It would be quite a pain to include the generated code from another module, so as a (slightly out there) alternative I propose that we encode the necessary information as a type-level Symb

[2015-07-11 15:29] mboes commented on #29
See #30 for a wider discussion. Of relevance here: `cabal sdist` does sometimes include generated files, so I think we should close this issue.

[2015-07-12 19:11] chpatrick opened #31 "Provide hsc2hs replacement"
It would be really cool if inline-c could do some stuff that we use hsc2hs for currently, ie. sizeOf and friends. It would remove the need to include stuff twice and would be much nicer with template haskell than the print-out-the-whole-source-with C approach.

[2015-07-13 07:36] bitonic commented on #29
The cases where they are included seem to be when the source can then be compiled again without being pre-processed, which is not the case here.  Besides, even if this is happening already, I don't think it's the right thing to do.

[2015-08-05 07:59] bitonic commented on #31
Well, you can already do

[code]

The problem is that it will be executed each time rather than known statically.

Do you mean that we should be able to execute C code statically and embed results (a-la TemplateHaskell, but with C)?

[2015-08-14 10:41] hvr opened #34 "`gsl-ode` example is missing bounds on `Chart`"
This causes the cabal solver to pick configurations which run into compile failures, see also https://github.com/haskell/vector/issues/92#issuecomment-131065131

[2015-08-15 08:52] bitonic commented on #34
Thanks for the heads up, should be fixed now.

[2015-08-15 08:52] #34 closed

[2015-09-02 09:38] chpatrick commented on #31
Yes, that's what I meant. It would be nice because it would ensure that it runs in the same C environment as the inline-c code, and it would be much more extensible than hsc's macro hacks.

[2015-09-10 07:55] mitchellwrosen opened #36 "`safe` or `interruptible` foreign calls?"
Is it possible to mark calls as safe/interruptible, like with the traditional Haskell FFI? Having a (extremely brief) look over the code, it seems that "unsafe" is the safety level used everywhere, and it's not configurable.

[2015-09-10 08:11] bitonic commented on #36
All calls are marked as `safe`, unless the `Language.C.Inline.Unsafe` module is used.

[2015-09-10 08:13] mitchellwrosen commented on #36
I see. So there is no support for `interruptible` calls? Would you accept a PR that adds this support?

[2015-09-10 13:32] bitonic commented on #36
Oh, I was not aware of the `interruptible` calls.

Yes, I'd very much appreciate a PR adding that!

[2015-09-23 01:12] #36 closed

[2015-09-23 01:14] mitchellwrosen opened #38 "Pure blocks?"
Is there any way to write "pure" blocks? For example,

[code]

Or, as a workaround, I wonder if this is equivalent?

[code]

EDIT: Ah, I see you expose the internal module. I think I can just define it myself:

[code]

[2015-09-23 01:51] #38 closed

[2015-09-26 21:11] dmjio opened #39 "Undefined symbols on x86_64"
[code]

Any ideas what is causing this linker error? (On OSX 10.10.3)

[2015-09-29 14:57] bitonic commented on #38
Glad you found that yourself, sorry about the delay.

It's a feature that we're currently not leveraging, but I did not kill the code.  Note that using `genericQuote Pure` has some consequences regarding the type which is derived by `inline-c`.  Specifically, for function pointers, if you pass `Pure` it's going to expect pure Haskell functions.

My position is that using `unsafePerformIO` explicit

[2015-09-29 14:58] bitonic commented on #39
Building programs using `inline-c` is slightly different from compiling vanilla Haskell, see https://github.com/fpco/inline-c#how-to-build .  I can successfully compile your program using the instructions there.

[2015-09-29 14:58] #39 closed

[2015-09-29 16:19] dmjio commented on #39
@bitonic, even with cabal it still wasn't working. The issue was this.

[code]

but including `hs-source-dirs` causes linking to be successful.

[code]

[2015-09-29 16:21] bitonic commented on #39
Yep, this is a known annoyance that I haven't found a great solution to.  See https://github.com/fpco/inline-c/issues/21 .

[2015-11-08 10:19] yann-ledu opened #40 "Undefined reference to inline_c_Main"
Hello,

I have ghc 7.10.2, used cabal to install inline-c, then copy/pasted inside a Main.hs the first example of how to use inline-c and did:

ghc -c Main.hs
cc -c Main.c -o Main_c.o
ghc Main.o -lm -o Main

and the last step gives me:

Main.o: In function `raz7_info':
(.text+0x26): undefined reference to `inline_c_Main_0_2f88ee80765ab54834856cc58acd770f9760d5e4'
collect2: error: ld returned 1 exi

[2015-11-08 10:21] bitonic commented on #40
You're forgetting to include the `Main_c.o` object file when linking.

It should be

[code]

[2015-11-08 10:21] #40 closed

[2015-11-08 13:33] yann-ledu commented on #40
Great, thanks.

[2016-01-13 12:44] lspitzner opened #41 "Behaviour on anti-quoting same identifier multiple times"
e.g. `return $(int foo) + $(int foo);` creates two parameters. It would be nice if

1) This was clearly documented (I find it hard to infer that specific from "For each anti-quotation, a variable with a matching type is expected in the Haskell environment."); or
2) It did not happen at all, i.e. same-identifiers are merged into one parameter. Might be necessary
to check that types match exactly (`

[2016-01-13 16:26] bitonic commented on #41
The "one parameter per anti-quotation" was intentional, for the sake of simplicity, since you can easily achieve the same effect using

[code]

I'll document this behavior.

[2016-01-14 10:39] #41 closed

[2016-01-14 11:33] lspitzner commented on #41
Thanks!

[2016-02-11 01:27] expipiplus1 opened #42 "Documentation: readme specified different type for bytestring pointer"
The readme says that `bs-ptr` is always of type `unsigned char*` however the code specifies `const char*`.

[2016-02-11 16:06] #42 closed

[2016-02-11 16:06] bitonic commented on #42
Thanks!

[2016-02-11 19:32] expipiplus1 commented on #42
Just out of interest, why was it changed from `unsigned char*` to `char*`?

[2016-02-11 19:49] bitonic commented on #42
Because for strings, `char *` is more idiomatic in C. See https://github.com/fpco/inline-c/issues/16

[2016-04-07 08:51] jyp opened #45 "When using Cabal, C functions are not linked when hs-source-dirs is '.'"
When hs-source-dirs is `.`, then the generated source file has the same location as the Haskell file, except for the extension:

[code]

This means that the `.o` file generated by GHC overwrite the `.o` file generated by the C compiler. At link time it is then lost.

[2016-04-07 08:53] bitonic commented on #45
Yes, this is a known issue (see #21 ). I haven't found a great way to avoid this automatically. We should probably at least warn people to not use `.` for `hs-source-dir`.

[2016-04-07 08:53] #45 closed

[2016-04-07 08:56] jyp commented on #21
What about adding a suffix to the source file, like so:

[code]

[2016-04-07 08:58] bitonic commented on #21
The reason why I don't like that so much is that it makes specifying the source files in the `.cabal` less simple. I don't have a very strong opinion about this though.

Arguably the "right" solution here is to fix `.cabal` to place object files from C in a different place, that should not be too hard...

[2016-04-07 09:22] bitonic commented on #21
Your solution also breaks all previous `.cabal` files using `inline-c`. I'd be much happier if we just fixed cabal, but I don't predict I'll have time to look into it super soon.

[2016-04-07 12:19] YPares commented on #21
Got bit by it too. @bitonic As you suggested earlier in the discussion, the cleanest solution is to put the generated C files in another directory. But that also breaks existing cabal configs.
In both cases that's a pretty quick fix for users: when bumping `inline-c` version, just change the paths of your `c-sources` along with it.

[2016-04-07 12:21] bitonic commented on #21
@YPares regarding "putting files in another directory", I couldn't come up with a simple scheme that would work in every case.

I think the best option for now might just be to somehow catch this error and tell the user to change the `hs-source-dir`. Maybe it's possible to check its value in `Setup.hs`.

[2016-04-07 12:27] bitonic commented on #21
So, it is possible to check this using `Setup.hs` (see the various `hsSourceDirs` fields in http://haddock.stackage.org/lts-5.11/Cabal-1.22.8.0/Distribution-PackageDescription.html#t:PackageDescription ), but that would require the user to use a custom `Setup.hs`.

I don't think it's possible to detect the build directories from within `inline-c`.

[2016-06-28 19:44] Deewiant opened #48 "Document the lifetime of FunPtrs created by funCtx's antiquoter"
I just got bit by this for the nth time... `funCtx`'s antiquoter (`fun`) frees the function pointer after the enclosing C code has been run to completion. This probably can't be helped due to the way `FunPtr` lifetimes have to be manually managed, but at least a mention in the documentation would be nice.

In practice, when faced with segfaults or internal errors originating in RTS functions with

[2016-06-30 14:53] bitonic commented on #48
Good point, I'll get to it soon.

[2016-07-04 09:47] bitonic commented on #48
Fixed by c67ce167c514a090bdf470f3927fe487e036668f

[2016-07-04 09:47] #48 closed

[2016-08-01 23:47] ekmett commented on #11
With that GHC ticket resolved can this be safely closed?

[2016-08-01 23:50] ekmett commented on #29
Would a custom Setup.hs that added them only in certain cabal steps be the ultimate right answer? Alternately, the cabal sdist hook could remove them if there was an associated haskell source file?

[2016-08-02 07:07] bitonic commented on #11
Yes, thanks.

[2016-08-02 07:07] #11 closed

[2016-08-02 07:11] bitonic commented on #29
@ekmett , I quickly looked at the facilities provided by `Default.Simple`  in the `Cabal` library and couldn't find an easy way to do that. Did you have something specific in mind?

[2016-08-02 20:14] ekmett commented on #29
Not off hand.

On Tue, Aug 2, 2016 at 3:11 AM, Francesco Mazzoli <notifications@github.com>
wrote:

[2016-08-03 04:22] ekmett commented on #29
What about something like...

[code]

This is entirely untested, just the first thing that came to mind.

[2016-08-03 04:24] ekmett commented on #29
That should in theory hack them into the `BuildInfo` for the library right before configuration. To do the other executables, you'd have to modify `es` appropriately.

[2016-08-04 10:08] bitonic commented on #29
@ekmett , thanks.

I'm wondering how best to do this -- I've never used a `Setup.hs` that was not `defaultSimple`.

Is the best way to do this to provide a function ourself to use as `main` in `Setup.hs`?

Maybe we could also automatically check which C files are to be generated and add them.

[2016-08-04 10:19] mboes commented on #29
Recent versions of Cabal allow Setup.hs to depend on packages. So you can provide such a default `main` function in `inline-c` so that users don't need to copy/paste (and get the benefit of bug fixes in the future for free).

See https://github.com/haskell/cabal/pull/2515.

Stack has a way of emulating this: https://github.com/commercialhaskell/stack/blob/master/doc/yaml_configuration.md#explicit-

[2016-08-20 04:21] rcook opened #50 "Windows: Using inline-c in combination with hsc2hs generates the .c files with bad paths"
Repro steps:
- Install Stack on a _Windows_ development machine.
- Create new simple project with `stack new inlinecbug simple`.
- Rename `src/Main.hs` to `src/Main.hsc` in the `inlinecbug` project directory.
- Build project with `stack build` and run with `stack exec inlinecbug` to verify that hsc2hs works correctly.
- Replace content of `src/Main.hsc` with following:

[code]
- In `inlinecbug.cab

[2016-08-20 07:37] mgsloan commented on #50
I actually encountered a related issue recently.  Check out this commit in stack - https://github.com/commercialhaskell/stack/commit/1ffae897b1441d4b2b4502c5c22eb442027ab96a - the reason this was necessary is that the paths were like `src/Stack\Main.hs`!  So, mixed forward and backward slashes.  On linux the paths were absolute not relative.  So it is likely a ghc issue, possibly a Cabal issue.

T

[2016-08-20 08:02] rcook commented on #50
It looks like the backslashes have already been removed at this point: `TH.loc_filename` returns the invalid path. Maybe the bug is in Template Haskell?

[2016-08-20 08:08] mgsloan commented on #50
Likely so!  It probably does something like `include_dir ++ "/" ++ source_path` orso

[2016-08-20 17:21] awson commented on #50
The culprit is `{-# LINE ...  #-}` pragmas in the files generated by `hsc2hs`. `hsc2hs` on Windows emits paths with non-escaped backslashes in it:
[code]
I don't know how GHC's `LINE` pragma behavior is specified, but this is at least inconsistent with how Windows C compilers operate. GCC emits line directives with forward slashes in paths and Visual C emits escaped backslashes. Thus I mostly incl

[2016-08-20 17:47] rcook commented on #50
Thanks @awson. I added your comment to the GHC bug: https://ghc.haskell.org/trac/ghc/ticket/12504#comment:1

[2016-08-22 08:23] bitonic commented on #50
Thanks a lot for the investigation.

I have little experience with Windows Haskell development, and it's not totally clear if `inline-c` can mitigate this GHC/TH bug. If we can I'm happy to get my feet wet with Windows + Haskell (which I have installed just to play games), but I'm not sure that there is anything to do at all.

[2016-08-22 08:55] awson commented on #50
I don't think GHC behavior is wrong here.

I haven't seen anywhere how GHC expects a file path in the LINE pragma to be formatted, but as I've already mentioned above, well-established practice is to expect it to have either forward slashes or escaped backslashes (or both). If GHC is supplied with such formatted paths it works perfectly on Windows. Thus, I think we shouldn't touch GHC proper.

It

[2016-08-22 17:20] rcook commented on #50
@awson: So, it looks like there are two interwoven issues here:

1. `outHsLine` does not properly escape the format string passed to `hsc_line`
2. `outHsLine` should probably normalize to forward slashes regardless of the platform

The resulting code would probably look something like:

[code]

i.e. Normalize the path first and then escape the string as a C string literal twice.

What do you think

[2016-08-22 18:44] awson commented on #50
I don't think we need to apply `showCString` twice.

`showCString` is here exactly to double-escape things to make things good after `printf` eats this extra layer of escaping and it does this pretty well.

What is happen here is that we need to make some extra work **only when generating path names on Windows**, since the single backslash in the windows path in `LINE` directive is wrong. Thus we

[2016-08-22 19:12] rcook commented on #50
@awson: Agreed.

[2016-08-26 22:15] rcook commented on #50
I've submitted a new test case:
https://phabricator.haskell.org/D2477

And the code fix itself:
https://phabricator.haskell.org/D2478

[2016-09-01 07:50] bitonic commented on #50
Just to be clear: is this purely a GHC issue, and will it be automatically resolved when GHC 8.0.2 is out?

[2016-09-01 07:52] bitonic commented on #27
I'll reopen this if it shows up again.

[2016-09-01 07:52] #27 closed

[2016-09-01 19:11] rcook commented on #50
@bitonic : Yes, that's right. The fix will be included in the new version of hsc2cs that will ship with GHC 8.0.2. Feel free to close this ticket as appropriate.

[2016-09-15 10:21] snoyberg opened #51 "Test suite failure with QuickCheck 2.9"
[code]

[2016-09-15 10:43] bitonic commented on #51
Thanks, I'll try to reproduce.

[2016-09-15 10:47] bitonic commented on #51
With the resolver in the repo, `lts-6.7`, things work with that seed (using `stack test inline-c --test-arguments '--seed=1266486728'`). Nightly works as well (`stack test --resolver=nightly inline-c --test-arguments '--seed=1266486728'`).

Waiting for the newer nightly to try again, or other suggestions by @snoyberg on how to reproduce.

[2016-09-15 10:50] bitonic commented on #51
Reproduced by adding `QuickCheck-2.9` in extra-deps.

[2016-09-15 10:59] bitonic commented on #51
This is due to https://github.com/nick8325/quickcheck/issues/113 , which is fixed in the latest QuickCheck and should be fixed in QuickCheck-2.9.2.

I've verified that the bug goes away when compiling with the latest `master`.

[2016-09-15 10:59] #51 closed

[2016-10-07 11:59] proger opened #52 "REPL/intero support"
It seems possible use inline-c code in stack ghci / intero once you've built the C counterpart with `stack build` and then loaded the corresponding Haskell module in the repl — however edits cause  errors like:

[code]

Which can be worked around by:

[code]

I would love any hints on how to properly automate this. PS thanks @bitonic for the opencv talk, I quite enjoyed it

[2016-10-07 12:01] bitonic commented on #52
To support, we'd have to make it so that ghci can build the dynamic library it expects after it has finished type checking all the modules required. This would involve a non-trivial amount of engineering simply because ghci does not support customization at that level -- or at least I think it doesn't. I'm very open to ideas though.

Very glad you enjoyed the talk!

[2016-10-07 12:21] proger commented on #52
Does it make sense to hack this through intero? It looks like intero wants to run `stack build` (through elisp, https://github.com/commercialhaskell/intero/issues/146), and to handle non-hs source files (https://github.com/commercialhaskell/intero/issues/80), which is somewhat overlapping with this issue.
I'm thinking of intero mainly because it "knows" about stack projects while ghci technically

[2016-10-07 17:55] bitonic commented on #52
Sadly I know very little about intero, but since it reimplements large parts of what GHCi implements, it might very well be possible to have it do what we want!

I'd be very glad to review whatever patch comes my way in that direction.

[2016-12-08 20:00] dcoutts commented on #21
Right, the "right thing"tm is for inline-c to put the generated .c file in the appropriate place within the dist dir, much like Cabal does this for .hsc files and the corresponding generated .hs (or similarly with .chs and generated .c files).

Then the question becomes, how does inline-c know what the right place ought to be? With the .c files ghc itself generates for FFI-exports it gets told via

[2016-12-08 20:06] dcoutts commented on #21
Or more radical: extend TH to support injecting C code into the *same* output file as GHC generates for FFI exports. This would mean you could mix inline-c and FFI exports in the same .hs file, without the two clobbering each other. It would also mean that users would not have to list the generated .c file in the .cabal file at all, and it would be automatically picked up by the Cabal build system

[2016-12-08 20:59] mboes commented on #21
I like this idea a lot, not least because I suspect it's doable without any extension at all.

inline-java does pretty much that: get the foreign compiler to spit out some "object code" (bytecode in the java case), then grab that code and inject it in the binary. Add a static pointer to the embedded code. That way `main` can list all static pointers of some magic type, then load all object code it

[2016-12-08 21:09] mboes commented on #21
An env var is implementable now, without any extension - just need users to add a custom hook in Setup.hs, provided by inline-c. It can also be opt-in, so that those users that haven't yet added the custom hook will still have their C file generated at the usual place, so the .cabal file doesn't need to change. Backwards compatible.

Further, because the env var can be inline-c specific and inline

[2016-12-09 09:05] bitonic commented on #21
I don't have the required context to fully understand these plans, but if anybody comes with a implementation plan that results in simpler usage and more robust build system I'll implement it. Or even better, if anybody wants to implement it, I'll accept the patches!

[2017-01-17 22:47] georgewsinger opened #54 "Antiquoted C variables Within C/C++ Comments Are Still Parsed"
Small bug. Consider:

[code]

This will cause the compiler to complain that "Variable not in scope: t".

[2017-01-18 04:53] bitonic commented on #54
This is undesirable but intended behavior: we do not parse the the C code at all, which means that we cannot know if we're in a comment.

[2017-01-18 04:53] #54 closed

[2017-01-18 11:46] mboes opened #55 "Support ForeignPtr arguments"
inline-c currently happily passes in `Ptr` arguments, and via a specialized "context", also has support for wrapping arbitrary functions into function pointers. However, sometimes the argument is wrapped as a `ForeignPtr`, i.e. a pointer to which one can associate a finalizer. `inline-c` could support those too in a style similar to `FunPtr`.

[2017-01-18 16:50] #55 closed

[2017-01-23 11:29] chrisdone commented on #52
Intero could possibly run those steps (`import System.Posix.DynamicLinker`, `dlopen "thing.dylib" [RTLD_NOW, RTLD_GLOBAL]`).

`stack ghci` could possibly be coached into running `ld -dylib -macosx_version_min 10.12 -o thing.dylib ./.stack-work/dist/x86_64-osx/Cabal-1.24.0.0/build/pixels/pixels-tmp/src/Image/C.o`

The question would be how to tell `stack ghci` and `intero` that this step needs to b

[2017-02-09 13:24] nh2 commented on #21
A fix for this is on the way: https://ghc.haskell.org/trac/ghc/ticket/13237

[2017-02-12 10:57] bitonic commented on #21
@nh2 @mboes https://phabricator.haskell.org/D3106 is now merged. Do I understand correctly that this will mean that with GHC 8.2 we will be able to just use `addCStub` and be done with the annoying extra files?

[2017-02-12 11:08] mboes commented on #21
@bitonic if that patch does its job properly, then yes. :)

Since GHC releases are few and far between, might be good to add the support for this in inline-c from now to see if there are any changes to that patch that need to be made prior to 8.2.

[2017-02-12 11:09] bitonic commented on #21
That's fantastic, thanks @facundominguez for this work!

@mboes I'll try to add support for this this week.

[2017-03-07 23:42] bitonic commented on #21
Finally, when this lands https://phabricator.haskell.org/D3280 , we'll be able to get rid of the .c files, and thus this issue will be fixed, together with #50 and #52 and #29 .

[2017-03-07 23:43] bitonic commented on #52
This will work once https://phabricator.haskell.org/D3280 lands which will make ghci work, provided it uses `-fobject-code`.

[2017-04-04 13:17] nh2 commented on #21
That has landed now.

I have also ported that back to GHC 8.0.2 so that inline-c can adapt to it without efforts, see the source and bindist here: [ghc-8.0.2-foreignfiles-backport-release](https://github.com/nh2/ghc/releases/tag/ghc-8.0.2-foreignfiles-backport-release)

[2017-04-04 14:44] bitonic commented on #21
OK, I have now produced a branch taht uses `addForeignFile` using @nh2 bindist, see addForeignFile-niklas-bindist .

[2017-06-25 18:02] mboes commented on #21
@bitonic any plans to merge that branch? Or can this issue be closed now?

[2017-06-25 18:03] bitonic commented on #21
I'll close this when 8.2 is released and we can release the new version in
hackage.

On Sun, 25 Jun 2017 at 20:02, Mathieu Boespflug <notifications@github.com>
wrote:

[2017-07-23 15:13] #21 closed

[2017-08-01 13:06] bitonic commented on #52
Closing since `-fobject-code` works well.

[2017-08-01 13:06] #52 closed

[2017-08-01 13:07] bitonic commented on #29
this is not true anymore since we use `addForeignFile`

[2017-08-01 13:07] #29 closed

[2017-08-18 20:50] dschoepe opened #60 ""How to build" section missing"
The beginning of [README.md](https://github.com/fpco/inline-c/blob/master/README.md) mentions a "How to build" section. However, the section no longer exists in the README and using inline-c as is causes linker errors. It seems the section was removed in commit https://github.com/fpco/inline-c/commit/ffb1f9373cc4709d45fd66b6a6b3ce0ef64983c7.

The instructions there still work and fix the linking e

[2017-08-19 15:11] bitonic commented on #60
the current readme refers to the current version, which does not require a separate linking step. please refer to the readme  of the version you're using.

you're right that there is a broken reference though, i'll fix.

[2017-08-19 18:11] bitonic commented on #60
amended the readme in 30bf69fbd77796cc74016e630ce2f4718a282da6 .

[2017-08-19 18:11] #60 closed

[2017-09-07 09:38] peti opened #61 "inline-c-0.5.6.1 test suite failure"
I'm citing from https://nix-cache.s3.amazonaws.com/log/9byl5ccaqhrgb7xx2f4p1sg8mq3pbgz3-inline-c-0.5.6.1.drv:

[code]

[2017-09-07 10:07] peti commented on #61
Hmm, I re-ran the build and this time the error did not occur. Unfortunately, that replaced the log file I originally had with one that no longer shows the error. :-( Anyhow, I think the issue QuickCheck found might be legit.

[2017-09-07 10:08] bitonic commented on #61
yep, thanks, thankfully the seed is there so i should be able to reproduce

[2017-09-07 10:11] bitonic commented on #61
ok, reproduced with:

[code]

[2017-09-07 10:16] #61 closed

[2017-10-10 14:02] thkoch2001 opened #62 "add inline-go"
Would it be a good idea to develop inline-go as an addition to this repository? It seems some code from inline-c could be reused.

In case you know go and its runtime, do you think there would be any major problems to write an inline-go library?

[2017-11-08 12:50] sumo opened #63 "Generate FunPtr for ForeignPtr finalisation"
My primary use case is to get a FunPtr that can be used in newForeignPtr so would like to get inline-c to return a function pointer

For example:

C function:

`void pairing_clear(pairing_t pairing);`

and corresponding Haskell:

`freePairing :: Ptr PBCPairing -> IO () `
`freePairing ptr = [C.exp| void { pairing_clear (struct pairing_s *ptr) } |]`

I would like to do:

`allocPairing :: IO (Foreign

[2017-11-09 13:51] bitonic commented on #63
you can use [`mkFunPtrFromName`](http://hackage.haskell.org/package/inline-c-0.6.0.5/docs/Language-C-Inline.html#v:mkFunPtrFromName), e.g. `mkFunPtrFromName 'freePairing`.

[2017-11-09 13:51] #63 closed

[2017-11-09 14:23] bitonic commented on #62
it would be cool, but i have close to 0 expertise with go. if somebody wants to do it using inline-c's code he's free to do so obviously.

[2017-11-09 14:23] #62 closed

[2017-11-10 04:04] sumo commented on #63
Unfortunately this does not work for finalizers and results in:

test-pbc: error: a C finalizer called back into Haskell.
   This was previously allowed, but is disallowed in GHC 6.10.2 and later.
   To create finalizers that may call back into Haskell, use
   Foreign.Concurrent.newForeignPtr instead of Foreign.newForeignPtr.

I'm actually not sure if what I am asking for is a good use case for in

[2018-01-03 16:55] stephenpascoe opened #64 "Can't use function pointers in C++11 code"
I can't get inline-c-cpp to compile if I use the `funCtx` to try and call Haskell from C++.  The problem seems to be I can't specify exactly when to use the  "-std=c++11" switch in Cabal.

Below is a minimal file which exposes the problem.  My system is:
 - OSX El Capitan
 - stack v1.6.3, resolver: nightly-2018-01-02 (ghc 8.2.2)

src/Lib.hs
[code]

package.yaml
[code]

If I compile without -std=c+

[2018-01-04 17:25] stephenpascoe commented on #64
I realise `-std=c++11` is needed to compile the `enum class` statement because enum classes are a C++11 feature.  So the question really is why does `-std=c++11` cause compiling to fail when we use the `$fun` anti-quoter in `someFunc` but not when we compile `someFunc2`?

[2018-01-05 15:13] stephenpascoe commented on #64
After finding these related issues:
 - https://github.com/haskell/cabal/issues/3700
 - https://github.com/haskell/cabal/issues/4435

I tried building the source inside a docker container and it worked.  The OSX compiler is more picky about what it allows.

[2018-01-05 17:27] stephenpascoe commented on #64
I can work around this with the custom Setup.hs below.  Unfortunately `stack ghci` doesn't work but once you've built it you can comment out `ghc-options` and run `stack ghci` successfully.

[code]

[2018-01-05 17:27] #64 closed

[2018-02-27 11:36] tolysz opened #68 "Null terminated strings Question"
What is the best way of converting Haskell `Strings` into null terminated `c` `strings` i.e. `char *`?

I could add `\0` and convert into bytestring and usre `$bs-ptr:`

[2018-02-28 14:00] thomasjm opened #70 "Duplicate symbol definition linker error"
I have a Windows project that's organized using the standard template generated by `stack new` nowadays, with

1) a `library` section with the majority of the dependencies and source files
2) a short executable which depends on the library, and
3) a test suite which depends on the library.

In the library section, I have a module which uses `inline-c` to do a simple Windows system call.

The main

[2018-03-01 10:33] tolysz commented on #70
Which `lts` are you using?

[code]

i.e do not include `c-sources` for the newer `c-inline` and `ghc-8.2+`

[2018-03-02 03:55] thomasjm commented on #70
I'm using `lts-10.0`, and have not specified any `c-sources`.

[2018-03-11 10:31] idontgetoutmuch opened #71 "Sundials Types Part I"
I am trying to use [sundials](https://computation.llnl.gov/projects/sundials) via inline-c. I am starting to define the types some of which are quite complex :( Even the simplest seems to throw up problems. For example what should I do here?

[code]

At the moment I have this

[code]

[2018-03-11 11:24] idontgetoutmuch commented on #71
Ah but maybe I don't need to do this anyway.

[2018-03-12 08:50] peti opened #72 "inline-c-0.6.0.5 test suite failure"
Citing from https://hydra.nixos.org/build/70893577:

[code]

[2018-03-14 06:16] DanBurton opened #73 "Build failure with ghc 8.4"
[code]

[2018-04-20 13:11] peti commented on #73
Will this issue be fixed?

It's really a shame that `inline-c` does not compile with recent versions of `ghc` because that blocks a whole lot of other packages, too, like `inline-r`. :-(

[2018-04-21 14:56] peti commented on #73
Well, there are *two* pull requests readily available, even: https://github.com/fpco/inline-c/pull/74 and https://github.com/fpco/inline-c/pull/66. I don't understand what is going on. :-(

[2018-05-01 09:44] bitonic commented on #73
sorry about the delay, i've merged #74 . i didn't get notifications, i believe because i was not a collaborator.

[2018-05-01 09:44] #73 closed

[2018-05-01 09:52] bitonic commented on #73
now released as 0.6.0.6

[2018-07-28 12:45] basvandijk opened #75 "Test-suite fails to build on OS X"
Note I'm using Nix on OS X.

[code]

[2018-07-28 14:14] basvandijk commented on #75
Since the documentation of `addForeignFile` mentions:

    the flags passed as part of -optc will be also applied to the C compiler invocation
    that will compile them.

I tried forcing `clang` to use C++ (`-xc++`) and the C++11 standard (`-std=c++11`):

[code]

Note that [this condition](https://github.com/ghc/ghc/blob/master/includes/Stg.h#L28) is likely failing because `__STDC_VERSION__` is u

[2018-07-28 14:55] basvandijk commented on #75
Of course I can just define `__STDC_VERSION__` myself but that leads to all other kinds of errors:

[code]

So I guess `-optc-xc++` is not really the way to go.

[2018-09-15 01:33] dukedave commented on #75
Hello again @basvandijk, fancy seeing you here 😄

Friendly reminder that this is identical to https://github.com/LumiGuide/haskell-opencv/issues/104

[2018-10-18 15:05] bitonic commented on #72
i coudn't reproduce with `stack test --ta '--seed=1164776840' inline-c` on `8bae45eb7c308023965a6f069170b31b1acf4321`. the code that generates haskell identifiers should prevent this: https://github.com/fpco/inline-c/blob/8bae45eb7c308023965a6f069170b31b1acf4321/inline-c/test/Language/C/Types/ParseSpec.hs#L250 .

[2018-10-18 15:05] #72 closed

[2018-11-13 18:15] stites opened #76 "[inline-c-cpp] "`at` is not a namespace-name" with shared object"
I'm attempting to use inline-c-cpp to access functions from a C++ library, ATen, but am getting the above error about the library's namespace. The code looks like:

[code]

the cabal file looks like:

[code]

and my error is:

[code]

Am I missing something? Should I be including the header files in my cabal file? If so, do I need to include a link to every file or is a top-level folder sufficient

[2018-11-13 18:16] stites commented on #71
@idontgetoutmuch how did you resolve this?

[2018-11-14 17:46] idontgetoutmuch commented on #71
I don't think I did resolve that particular issue but it's all working - see here: https://github.com/haskell-numerics/hmatrix-sundials/blob/master/src/Numeric/Sundials/Arkode.hsc

[2018-12-12 03:33] nh2 opened #77 "Add easy way to declare `FunPtr`s for newForeignPtr"
Please add functionality that allows me to declare `FunPtr`s inline, so that I can directly write [`newForeignPtr`](https://hackage.haskell.org/package/base-4.12.0.0/docs/Foreign-ForeignPtr.html#v:newForeignPtr) code easily.

For example something like:

[code]

Because this isn't easily doable currently, many people resolve to [`Foreign.Concurrent.addForeignPtr`](https://www.stackage.org/haddock/

[2018-12-12 13:43] tolysz commented on #68
Thanks, yes, it could work. Personally I like the anti-quoter approach for the marshalling.

[2018-12-12 13:43] #68 closed

[2018-12-16 22:43] bitonic commented on #76
@stites it looks like you're missing the import, e.g. see https://github.com/fpco/inline-c/blob/3f613e6017c2e510cd10f39a86f74be0635f168c/inline-c-cpp/test/tests.hs .

[2018-12-16 22:43] #76 closed

[2018-12-16 22:59] #77 closed

[2018-12-17 00:01] nh2 commented on #77
Thanks!

[2018-12-21 20:50] McbearHolden opened #80 "Stack rebuild all C/C++ sources"
I have quite some C/C++ files in the cbits directory. I use stack tool chain for the build process(A project folder created by `stack new myproject`). When I do `stack build` everytime it rebuilds everything, even though nothing changes to those files. How can I save build time?

[2018-12-23 06:24] DanBurton opened #81 "inline-c-0.7.0.1 test suite failure"
I am unable to reproduce this locally, but this was seen once so far on the Stackage build server:

[code]

[2019-01-22 20:25] georgewsinger opened #82 "Can inline-C return a typedef to a function pointer?"
I'm working with a C code base for which

    typedef void(* wl_notify_func_t) (struct wl_listener *listener, void *data)

    //...

    struct wl_listener {
      struct wl_list link;
      wl_notify_func_t notify; //<-- I'd like to return this
    };

and have used the Haskell code

    type NotifyFuncT = FunPtr (Ptr C'WlListener -> Ptr () -> IO ())

    initializeMyCtx = C.context $ C.baseCtx

[2019-01-22 23:37] georgewsinger commented on #82
This issue should be closed. The code above works; I just forgot to include the C context. :bowtie:

[2019-02-28 15:27] georgewsinger opened #86 "Using Inline-C in Interpreted Mode (for interactive GHCi debugging)."
AFAIK: this makes it impossible to use the interactive GHCi debugger (correct?).  Is there anything in principle stopping inline-C from being used interactively?

[2019-03-12 15:25] #82 closed

[2019-03-12 15:26] bitonic commented on #86
see https://mazzo.li/posts/new-inline-c.html (C-f for `ghci`). I might get around it someday, there are no hard technical reasons for it not to work.

[2019-03-12 15:26] #86 closed

[2019-03-14 13:47] cblp opened #87 "[feature request] Return tuple"
I found myself writing such code:

[code]

It would be nice to write instead

[code]

with all boilerplate generated automagically.

I want to implement it. What do you think?

**Alternatives:**

1. http://www.chiark.greenend.org.uk/doc/libffi-dev/html/Structures.html#Structures

   - too complex to use by hand
   - may be useful instead of the arena approach

2. https://gitlab.haskell.org/ghc/ghc

[2019-04-26 15:07] bitonic commented on #87
@cblp I like the idea! Feel free to submit a PR.

[2019-04-27 14:17] cblp commented on #87
Hm, TH seems to be unable to emit do-statements, so we can't introduce variables in a do-block.

[2019-04-29 14:10] chpatrick commented on #87
I usually use `withPtrs` for this, it's a bit more boilerplate but it works: http://hackage.haskell.org/package/inline-c-0.7.0.1/docs/Language-C-Inline.html#t:WithPtrs

[code]

It's a bit more boilerplate but it's not too bad.

[2019-04-29 14:30] cblp commented on #87
@chpatrick, great! thanks!

[2019-04-29 14:30] #87 closed

[2019-05-19 13:38] #75 closed

[2019-06-03 14:44] ekmett commented on #71
My best work around for this sort of issue is to use `hsc2hs` and `inline-c` in the same Haskell module.

With `hsc2hs` you can use

[code]

and then the rest of your code is correct.

[2019-06-03 14:48] ekmett commented on #31
It isn't clear to me that this is very possible.

`hsc2hs` can do things like splice into import lists and even emit additional haskell language directives above the very module signature, because all it is doing is building a c program that will print a haskell program. It does its work on source text, not `template-haskell`.

[2019-06-03 14:51] ekmett commented on #50
This appears to be resolved.

[2019-06-03 18:28] bitonic commented on #50
@ekmett thanks for checking, closing

[2019-06-03 18:28] #50 closed

[2019-06-14 14:24] YellowOnion opened #91 "Please clarify Ptr usage on left side of equals."
I'm trying to use alloca to capture some values.
`
alloca $ \x -> [C.exp| $(int *x) = 3]

`
the c code should be ` *x = 3;` how do I reproduce this?

peeking x causes a me to get junk data and not 3.

[2019-06-14 14:38] facundominguez commented on #91
Maybe
`alloca $ \x -> [C.exp| *$(int *x) = 3] >> peek x`
?

[2019-06-14 19:00] bitonic commented on #91
What @facundominguez said -- the anti-quotation brings into scope a variable of type `int *`, and then you need to modify its value as usual. The `*` inside the anti quotation is just indicating the type, it doesn't dereference the value itself.

[2019-06-14 19:01] #91 closed

[2019-06-18 15:33] bitonic commented on #80
@McbearHolden I'm not sure, but as far as I can tell this is a stack / cabal issue rather than an inline-c issue.

[2019-06-18 15:33] #80 closed

[2019-07-07 10:08] idontgetoutmuch commented on #71
👍

[2019-07-25 09:16] idontgetoutmuch opened #94 "inline-c does not work in IHaskell (Jupyter) notebook"
![image](https://user-images.githubusercontent.com/1550265/61862121-3d322e80-aec5-11e9-8830-5d9f4ca45665.png)

[2019-07-25 13:52] #94 closed

[2019-07-28 15:43] bitonic commented on #94
@idontgetoutmuch , how did you solve this? Presumably by setting `-fobject-code` somewhere?

[2019-07-30 16:06] idontgetoutmuch commented on #94
I didn't solve it. I realised it was not a sensible thing to try to do.

[2019-07-31 08:58] bitonic commented on #94
Ah, OK. For future users of IHaskell, it looks like the problem is related to not passing `-fobject-code` to ghci, see https://github.com/fpco/inline-c/tree/master/inline-c#ghci .

[2019-08-12 10:12] domenkozar commented on #64
It's going to be a bit easier in GHC 8.8: https://gitlab.haskell.org/ghc/ghc/issues/16477

[2019-10-01 11:31] alaendle opened #96 "Howto call haskell functions from internal C callbacks?"
Maybe this is more a general Haskell FFI question. But what is the recommended way to call a haskell function within a C callback. Conceptual this shouldn't be a problem since the haskell function - in this case **adderIO** is somehow constant and not part of a "closure".
However the FFI call inside the callback fails with a segmentation fault, while the second call within the scope succeeds. My g

[2019-10-06 17:31] alaendle commented on #96
Don't worry - I found the `$fun-allow` quoter in combination with `freeHaskellFunPtr`. Now things work as expected; many thanks for providing such a useful library to simplify FFI code!

[2019-10-06 17:31] #96 closed

[2019-10-21 04:05] gaze opened #102 "with --profile, error: invalid argument '-std=c++11' not allowed with 'C'"
Hey all, I have an lts-14.11 stack project that builds just fine when invoking ```stack build```, but when building using ```stack build --profile```, I get the following output

[code]

This is under macOS 10.14.4. It's repeatable when deleting ~/.stack and/or .stack-work and then running build or build --profile in either order.

[2019-10-21 09:43] bitonic commented on #102
Thanks for the report. It looks like a clang-specific issue. However, I can't easily reproduce because of https://github.com/commercialhaskell/stack/issues/4073 . I might just try on the macbook later, but in the meantime, can you post a fully verbose build here? Maybe I can offer some guidance then.

[2019-10-21 09:44] bitonic commented on #81
This should be fixed by https://github.com/fpco/inline-c/commit/4a4bf5edd42687298366f0a8bdad86adb986e9af .

[2019-10-21 09:44] #81 closed

[2019-10-21 15:19] gaze commented on #102
Here's stack ```build --profile --verbose```

[dump.txt](https://github.com/fpco/inline-c/files/3751597/dump.txt)

[2019-10-21 15:22] bitonic commented on #102
@gaze sadly that does not include the `ghc` invocation, and the invocation itself is not verbose. I think `--cabal-verbose --ghc-options=-v` should do it.

[2019-10-21 15:30] gaze commented on #102
Apologies! Still a bit new to Haskell.

```stack build --profile --verbose --cabal-verbose --ghc-options=-v 2> dump2.txt```
[dump2.txt](https://github.com/fpco/inline-c/files/3751652/dump2.txt)

[2019-10-22 17:21] gaze commented on #102
Fwiw, this allowed me to build. Not sure what the interaction would be with other platforms

[code]

[2019-10-23 20:01] bitonic commented on #102
@gaze thank you, `-optc-x-c++` makes a lot of sense, but I do not know why it'd break only with `--profile`. Anyway, I've created https://github.com/fpco/inline-c/pull/103 to fix this problem in the repo.

[2019-10-23 20:13] #102 closed

[2019-10-23 20:14] bitonic commented on #102
@gaze I've added `-x-c++` to `inline-c-cpp.cabal`, and uploaded new inline-c-cpp version 0.3.0.3.

[2019-12-09 23:48] jkachmar opened #104 "[inline-c-cpp] dependency version bounds"
`inline-c-cpp-0.3.1.0` (and later) depend on the `inline-c` [Context](https://hackage.haskell.org/package/inline-c-0.9.0.0/docs/Language-C-Inline-Context.html#t:Context) type's `ctxEnableCpp` field.

This field was introduced in `inline-c-0.9.0.0`, however `inline-c-0.3.1.0` (and later) say they're compatible with `inline-c >=0.6.1.0`.

[2019-12-09 23:54] jkachmar commented on #104
Closed via #105

[2019-12-09 23:54] #104 closed

[2020-03-28 10:01] expipiplus1 opened #108 "C type parser does not support bitfields"
I guess this is quite a niche feature, but it would be nice if the type parser was able to capture bitfield information.

[code]

[2020-03-30 12:06] bitonic commented on #108
@expipiplus1 ah, right. Bitfields are definitely a standard feature, so I should probably support them. I'll read more on them and see.

[2020-05-11 10:36] deliciouslytyped opened #111 "mixing C and CPP"
Can you mix inline-c with inline-c-cpp?
Do I have to compile with a separate module configuration in my cabal?

I'm currently getting something like:
[code]

With (sorry if the code is bad but the compiler fails earlier anyway)
[code]

[2020-05-11 13:11] deliciouslytyped commented on #111
Ok I guess this probably isn't a mixing error?
Looking at `/nix/store/0ywc4dlk8159rj7q5fhkdvm2xrjkfxy3-ghc-8.8.3/lib/ghc-8.8.3/template-hsc.h`, it contains

[code]

Which indeed does not contain an `hsc_Warning`.

It's pulled in via `dist-newstyle/build/x86_64-linux/ghc-8.8.3/clang-pure-0.2.0.6/build/Language/C/Clang/Internal/Matcher_hsc_make.c`
[code]

[2020-05-11 13:18] deliciouslytyped commented on #111
Nevermind, this is probably invalid and user error.
I had `#Warning cpp is experimental?` at the top of the file because I keep trying to use scripting language comments everywhere...

[2020-05-11 13:18] #111 closed

[2020-07-17 13:03] Ofenhed opened #113 "Templates with pointers breaks the compiler"
It seems that any pointer in a template definition breaks compilation.

For reference, here's a test that breaks compilation:

[code]

[2020-07-18 08:53] bitonic commented on #113
@junjihashimoto , could you take a look at this?

[2020-07-21 15:20] Ofenhed commented on #113
Digging around in the code shows that a template can only have `TypeSpecifier`s and numbers as argument. From what I can gather from the code, it seems that pointers (even more so if they are volatile), arrays, consts, long longs and chars with specified sign are examples of types which cannot be used. I was going to take a stab at it, but this looks as if it might need a bigger patch than I'd be

[2020-07-27 19:09] junjihashimoto commented on #113
@bitonic @Ofenhed
I'm sorry I didn't notice immediately.
https://github.com/fpco/inline-c/blob/master/inline-c/src/Language/C/Types/Parse.hs#L641-L783
It seems that pointers cannot be used grammatically. This was not intended.
C++ often uses smart pointers instead of raw pointers, so I'm not in trouble at all.

[2020-07-27 19:46] junjihashimoto commented on #113
https://github.com/fpco/inline-c/pull/114
It is an incomplete support, but `std::vector<int*>` is supported.

[2020-07-28 08:41] bitonic commented on #113
@junjihashimoto thanks.

@Ofenhed can you try current master and see if things work for you?

[2020-07-28 09:16] l29ah opened #115 "Using threaded runtime destroys performance of C calls"
[code]
76ns call overhead on a modern 3.5GHz i7 is just insane. That's 266000 cycles!
Disabling -N makes it much less (but still more than Haskell), but then i can't meaningfully use threads in the application.

Code:
[code]

[2020-07-28 12:04] Ofenhed commented on #113
Thank you. Yes, it works for my use case. For now I guess the unsupported types can be reached using a typedef.

[2020-07-28 12:34] Ofenhed commented on #115
Interesting tests. It seems to be related to lazy evaluation. I expanded your test a bit with tests that doesn't use lazy evaluation:

[code]

I get the same type of results as you, but removing the unsafePerformIO gives me Haskell-like performance for the CU.block.

[2020-07-28 12:58] l29ah commented on #115
Thanks for your findings! With unsafeDupablePerformIO used instead of unsafePerformIO the performance is much better (though still slower than Haskell). Maybe `pure` or its unsafe friend should use unsafeDupablePerformIO under the hood then?

[2020-09-20 07:43] #113 closed

[2020-09-20 12:56] bitonic commented on #115
@l29ah I've merged #117, it is now released as 0.9.1.1 (thanks @Ofenhed !). Do you think we can close this?

[2020-09-20 22:11] Ofenhed commented on #115
It increases the performance for `pure` slightly, but the overhead for safe functions is still very slow. That might be the cost of safe calls, I don't know, but I wouldn't say that this question is put to rest yet.

[2020-09-21 11:15] bitonic commented on #115
OK, let's leave it open then -- I don't think I will have time to work on this but contributions are very welcome.

[2020-12-28 12:22] deliciouslytyped opened #122 "Linking error while using cabal repl"
As discussed on IRC here is as far as I could currently minimize the repro.
To repro, nix-shell and then call cabal repl.
I haven't been able to update things yet so it's running with old code and an old pinned version of nixpkgs.

The clang-pure directory contains the slightly modified clang-pure.
The significant changes wrt. the issue should (?) be limited to the cabal files.
[repro.zip](https:/

[2020-12-29 21:51] deliciouslytyped commented on #122
I don't have energy left to do a cleaner writeup today; the issue seems to be that an extraneous `typeinfo for clang::ast_matchers::MatchFinder::MatchCallback` symbol ends up in the clang-pure shared object, which GHCi fails to resolve when it tries to load it, because the symbol doesn't exist. The symbol doesn't exist the original clang shared objects either, because they are compiled with -fno-f

[2020-12-30 14:53] deliciouslytyped commented on #122
The issue superficially appears to have been fixed by updating to GHC 8.10.

[2021-01-12 14:13] tscholak commented on #102
seems this issue is back with ghc 8.10.3. has anybody else run into this again recently?

[2021-03-16 12:04] roberth opened #124 "Line numbers are off by 5 in throwBlock etc"
`tryBlockQuoteExp :: String -> Q Exp` inserts five lines related to exception handling before the user's code.

I've tried to modify it by passing these lines as an extra argument to a variation of `C.block`, but did not get it to work. It was a hack anyway, because I think `tryBlockQuoteExp` shouldn't call but one of the internal functions (not `inlineItems`; that function doesn't seem to have co

[2021-03-16 15:29] bitonic commented on #124
Thanks for the report -- a heads up: I most likely won't have time to get to it in the next week or so. But eventually :).

And of course I'm open to PRs.

[2021-06-26 12:18] phlummox opened #125 "Blocks returning template types can't refer to any numeric type but "int""
When using [inline-c-cpp][inline-c-cpp-dir] and returning a template type from a block, it seems the code responsible for parsing types chokes on any numeric type other than an "int"; it apparently can't handle a "long int", "unsigned int", "short int", "long long", etc.

[inline-c-cpp-dir]: https://github.com/fpco/inline-c/commit/b37b60f1712b12b43c86493cafb9ac324443d22e

For instance, the followi

[2021-06-26 12:47] phlummox commented on #125
By the way, I'd be interested to know - is there a quick and easy way of running the parsers in
[`src/Language/C/Types/Parse.hs`][parse.hs] on a code fragment to see whether and how the code is parsed? I had a very quick look at the file, but it wasn't obvious to me where to start, and unfortunately I couldn't spend too much more time looking. I realize that code will be parsed differently dependi

[2021-06-27 10:57] bitonic commented on #125
@junjihashimoto could you take a look at this?

@phlummox regarding testing the parser, you can use https://hackage.haskell.org/package/inline-c-0.9.1.4/docs/Language-C-Types.html#v:quickCParser to run one of those parsers easily.

[2021-06-27 13:44] phlummox commented on #125
Ah, I missed quickCParser! Many thanks for that.

[2021-06-27 21:03] junjihashimoto commented on #125
The parser for template is here.
https://github.com/fpco/inline-c/blob/master/inline-c/src/Language/C/Types/Parse.hs#L383

`type_specifier` parses each argument like `long`.
It seems that one term is supported, but it does not seem to support multiple terms like `long long`.
https://github.com/fpco/inline-c/blob/master/inline-c/src/Language/C/Types/Parse.hs#L306-L322

[2021-06-27 21:06] junjihashimoto commented on #125
untangleDeclarationSpecifiers's error is around here.
https://github.com/fpco/inline-c/blob/b37b60f1712b12b43c86493cafb9ac324443d22e/inline-c/src/Language/C/Types.hs#L212-L262

It may not be just a parser issue.

[2021-06-27 21:16] junjihashimoto commented on #125
I will check the cause of untangleDeclarationSpecifiers's error later.

[2021-07-01 01:14] junjihashimoto commented on #125
I am fixing it like this draft.
https://github.com/fpco/inline-c/pull/126

[2021-07-05 10:18] bitonic commented on #125
Released as 0.9.1.5.

[2021-07-05 10:18] #125 closed

[2021-08-28 12:43] domenkozar opened #127 "Test failures on Apple Silicon"
[code]

[2021-08-30 19:59] bitonic commented on #127
I don't have an M1 to test this with. It seems like something's going awry with the C++ exceptions tests.

[2021-12-24 20:36] roberth commented on #127
This can be fixed with GHC patch https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7247 and then using `-fcompact-unwind`.
Or, as "summarized" by https://github.com/NixOS/nixpkgs/pull/152037
Probably all GHC + C++ executables should use this flag, but I'm not 100% sure the ecosystem is ready for it. Hence a flag instead of an unconditional change in GHC behavior.

[2022-01-01 17:48] nmichael44 opened #129 "Memory leak in example/test"
Your example here:
https://github.com/fpco/inline-c/blob/master/inline-c-cpp/test/tests.hs

in this code:
[code]

is leaking memory.  Both the `int` and the `std::vector<int*>` need to be `deleted`.

[2022-01-02 14:40] #129 closed

[2022-04-26 12:39] bitonic opened #134 "Consider moving to GitHub actions"
CI is currently not working because we haven't moved to travis-ci.com. @roberth asked me to enable travis-ci.com, and I asked @snoyberg , who suggested to move to GitHub actions.

If that it easy to do, it might be desirable going forward.

[2022-04-26 15:21] roberth opened #135 "`ld: sectionForAddress(0x1DD10) address not in any section file` error"
Today I refactored some code and forgot to remove the `C.context` and `C.include` calls from a file when I moved all the `inline-c`/`inline-c-cpp` invocations to another module.
The build then failed on darwin with:

[code]

The solution was to remove `C.context` and `C.include` from the module that didn't need them anymore.

Ideally `inline-c` could raise an error when it's not actually used in a

[2022-04-26 15:33] roberth opened #136 "Take advantage of `noexcept` for performance and safety"
In C++ code we want to catch exceptions before returning to Haskell, or things don't end well, but some code does not need this overhead.
If we can generate C++ code with a `noexcept` qualifier on it, we can take advantage of the C++ compiler to enforce this safety condition while allowing us to generate faster code.

[2022-05-11 06:09] Jasagredo opened #137 "`Language.C.Inline.Interruptible.block` produces an `unsafe` FFI call"
[The QuasiQuoter](https://github.com/fpco/inline-c/blob/master/inline-c/src/Language/C/Inline/Interruptible.hs#L52) is creating an `Unsafe` declaration:

[code]

It should either create an `interruptible` call or if this is intentional might deserve a comment explaining why.

[2022-05-11 10:19] bitonic commented on #137
You're absolutely right, this is a bug. I'll fix later today.

[2022-05-14 21:38] #137 closed

[2022-07-26 13:25] zhfnjust opened #138 "How to pass a data type from haskell into `inline-c`"
How to pass a data type from haskell into `inline-c` for processing.

now I need to pass an array of `OpCode` from haskell into `inline-c`.

[code]

[2022-07-26 14:02] #138 closed

[2022-07-26 14:24] zhfnjust commented on #138
more example about marshal ?

[2022-07-29 20:34] swt2c opened #139 "Building hangs on 32-bit architectures with GHC 9.0.2"
Over in Debian, we're seeing builds of inline-c hang on all 32-bit architectures (armel, armhf, i386, mipsel) with GHC 9.0.2.  We're seeing it with 0.9.1.6, but it seems like it also happened with 0.9.1.0.

https://buildd.debian.org/status/package.php?p=haskell-inline-c

I suppose it's possible that it's a GHC bug too.  Not sure how to best investigate.